## 1. Limpieza básica del CSV
Primero, vamos a cargar y limpiar el archivo CSV. Como no veo el contenido exacto, te muestro un ejemplo general en Python usando pandas:

In [11]:
#!pip install pandas
import pandas as pd

In [12]:
df = pd.read_csv('./data/case-study-data.csv')
df.head()

,DATE,ANONYMIZED CATEGORY,ANONYMIZED PRODUCT,ANONYMIZED BUSINESS,ANONYMIZED LOCATION,QUANTITY,UNIT PRICE
0,"August 18, 2024, 9:32 PM",Category-106,Product-21f4,Business-de42,Location-1ba8,1,850
1,"August 18, 2024, 9:32 PM",Category-120,Product-4156,Business-de42,Location-1ba8,2,"1,910"
2,"August 18, 2024, 9:32 PM",Category-121,Product-49bd,Business-de42,Location-1ba8,1,"3,670"
3,"August 18, 2024, 9:32 PM",Category-76,Product-61dd,Business-de42,Location-1ba8,1,"2,605"
4,"August 18, 2024, 9:32 PM",Category-119,Product-66e0,Business-de42,Location-1ba8,5,"1,480"

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333405 entries, 0 to 333404
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   DATE                 333405 non-null  object
 1   ANONYMIZED CATEGORY  333405 non-null  object
 2   ANONYMIZED PRODUCT   333405 non-null  object
 3   ANONYMIZED BUSINESS  333405 non-null  object
 4   ANONYMIZED LOCATION  333405 non-null  object
 5   QUANTITY             333405 non-null  int64
 6   UNIT PRICE           333397 non-null  object
dtypes: int64(1), object(6)
memory usage: 17.8+ MB

In [14]:
df.isna().sum()

DATE                   0
ANONYMIZED CATEGORY    0
ANONYMIZED PRODUCT     0
ANONYMIZED BUSINESS    0
ANONYMIZED LOCATION    0
QUANTITY               0
UNIT PRICE             8
dtype: int64

In [15]:
# Limpieza básica:
# - Eliminar filas duplicadas
df.drop_duplicates(inplace=True)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 329881 entries, 0 to 333404
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   DATE                 329881 non-null  object
 1   ANONYMIZED CATEGORY  329881 non-null  object
 2   ANONYMIZED PRODUCT   329881 non-null  object
 3   ANONYMIZED BUSINESS  329881 non-null  object
 4   ANONYMIZED LOCATION  329881 non-null  object
 5   QUANTITY             329881 non-null  int64
 6   UNIT PRICE           329873 non-null  object
dtypes: int64(1), object(6)
memory usage: 20.1+ MB

In [17]:
# - Eliminar filas con valores nulos en columnas clave (ajusta 'columna_clave' según tu dataset)
df = df.dropna(subset=['UNIT PRICE'])

In [18]:
df.isna().sum()

DATE                   0
ANONYMIZED CATEGORY    0
ANONYMIZED PRODUCT     0
ANONYMIZED BUSINESS    0
ANONYMIZED LOCATION    0
QUANTITY               0
UNIT PRICE             0
dtype: int64

In [19]:
# - Opcional: renombrar columnas para quitar espacios o caracteres especiales
df.columns = [col.strip().replace(' ', '_').lower() for col in df.columns]
df.head()

,date,anonymized_category,anonymized_product,anonymized_business,anonymized_location,quantity,unit_price
0,"August 18, 2024, 9:32 PM",Category-106,Product-21f4,Business-de42,Location-1ba8,1,850
1,"August 18, 2024, 9:32 PM",Category-120,Product-4156,Business-de42,Location-1ba8,2,"1,910"
2,"August 18, 2024, 9:32 PM",Category-121,Product-49bd,Business-de42,Location-1ba8,1,"3,670"
3,"August 18, 2024, 9:32 PM",Category-76,Product-61dd,Business-de42,Location-1ba8,1,"2,605"
4,"August 18, 2024, 9:32 PM",Category-119,Product-66e0,Business-de42,Location-1ba8,5,"1,480"

In [16]:
# Guardar el archivo limpio
df.to_csv('./data/case-study-data-clean.csv', index=False)

## 2. Conectar y cargar a Snowflake
Necesitas instalar el conector de Snowflake para Python:

In [ ]:
#pip install snowflake-connector-python

Collecting snowflake-connector-python
  Downloading snowflake_connector_python-3.16.0-cp39-cp39-macosx_11_0_x86_64.whl.metadata (71 kB)
Collecting asn1crypto<2.0.0,>0.24.0 (from snowflake-connector-python)
  Downloading asn1crypto-1.5.1-py2.py3-none-any.whl.metadata (13 kB)
Collecting boto3>=1.24 (from snowflake-connector-python)
  Downloading boto3-1.39.8-py3-none-any.whl.metadata (6.6 kB)
Collecting botocore>=1.24 (from snowflake-connector-python)
  Downloading botocore-1.39.8-py3-none-any.whl.metadata (5.7 kB)
Collecting cffi<2.0.0,>=1.9 (from snowflake-connector-python)
  Downloading cffi-1.17.1-cp39-cp39-macosx_10_9_x86_64.whl.metadata (1.5 kB)
Collecting cryptography>=3.1.0 (from snowflake-connector-python)
  Downloading cryptography-45.0.5-cp37-abi3-macosx_10_9_universal2.whl.metadata (5.7 kB)
Collecting pyOpenSSL<26.0.0,>=22.0.0 (from snowflake-connector-python)
  Downloading pyopenssl-25.1.0-py3-none-any.whl.metadata (17 kB)
Collecting pyjwt<3.0.0 (from snowflake-connector-python)
  Downloading PyJWT-2.10.1-py3-none-any.whl.metadata (4.0 kB)
Requirement already satisfied: pytz in ./.venv/lib/python3.9/site-packages (from snowflake-connector-python) (2025.2)
Collecting requests<3.0.0 (from snowflake-connector-python)
  Downloading requests-2.32.4-py3-none-any.whl.metadata (4.9 kB)
Requirement already satisfied: packaging in ./.venv/lib/python3.9/site-packages (from snowflake-connector-python) (25.0)
Collecting charset_normalizer<4,>=2 (from snowflake-connector-python)
  Downloading charset_normalizer-3.4.2-cp39-cp39-macosx_10_9_universal2.whl.metadata (35 kB)
Collecting idna<4,>=2.5 (from snowflake-connector-python)
  Downloading idna-3.10-py3-none-any.whl.metadata (10 kB)
Collecting urllib3<2.0.0,>=1.21.1 (from snowflake-connector-python)
  Downloading urllib3-1.26.20-py2.py3-none-any.whl.metadata (50 kB)
Collecting certifi>=2017.4.17 (from snowflake-connector-python)
  Downloading certifi-2025.7.14-py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: typing_extensions<5,>=4.3 in ./.venv/lib/python3.9/site-packages (from snowflake-connector-python) (4.14.1)
Collecting filelock<4,>=3.5 (from snowflake-connector-python)
  Downloading filelock-3.18.0-py3-none-any.whl.metadata (2.9 kB)
Collecting sortedcontainers>=2.4.0 (from snowflake-connector-python)
  Downloading sortedcontainers-2.4.0-py2.py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: platformdirs<5.0.0,>=2.6.0 in ./.venv/lib/python3.9/site-packages (from snowflake-connector-python) (4.3.8)
Collecting tomlkit (from snowflake-connector-python)
  Downloading tomlkit-0.13.3-py3-none-any.whl.metadata (2.8 kB)
Collecting pycparser (from cffi<2.0.0,>=1.9->snowflake-connector-python)
  Downloading pycparser-2.22-py3-none-any.whl.metadata (943 bytes)
Collecting jmespath<2.0.0,>=0.7.1 (from boto3>=1.24->snowflake-connector-python)
  Downloading jmespath-1.0.1-py3-none-any.whl.metadata (7.6 kB)
Collecting s3transfer<0.14.0,>=0.13.0 (from boto3>=1.24->snowflake-connector-python)
  Downloading s3transfer-0.13.0-py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in ./.venv/lib/python3.9/site-packages (from botocore>=1.24->snowflake-connector-python) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.9/site-packages (from python-dateutil<3.0.0,>=2.1->botocore>=1.24->snowflake-connector-python) (1.17.0)
Downloading snowflake_connector_python-3.16.0-cp39-cp39-macosx_11_0_x86_64.whl (1.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 17.9 MB/s eta 0:00:00
Downloading asn1crypto-1.5.1-py2.py3-none-any.whl (105 kB)
Downloading cffi-1.17.1-cp39-cp39-macosx_10_9_x86_64.whl (182 kB)
Downloading charset_normalizer-3.4.2-cp39-cp39-macosx_10_9_universal2.whl (201 kB)
Downloading filelock-3.18.0-py3-none-any.whl (16 kB)
Downloading idna-3.10-py3-none-any.whl (70 kB)
Downloading PyJWT-2.10.1-py3-none-any.whl (22 kB)
Downloading pyopenssl-25.1.0-py3-none-any.whl (56 kB)
Downloading cryptography-45.0.5-cp37-abi3-macosx_10_9_universal2.whl (7.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.0/7.0 MB 34.1 MB/s eta 0:00:00
Downloading requests-2.32.4-py3-none-any.whl (64 kB)
Downloading urllib3-1.26.20-py2.py3-none-any.whl (144 kB)
Downloading boto3-1.39.8-py3-none-any.whl (139 kB)
Downloading botocore-1.39.8-py3-none-any.whl (13.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.9/13.9 MB 36.8 MB/s eta 0:00:00 0:00:01
Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Downloading s3transfer-0.13.0-py3-none-any.whl (85 kB)
Downloading certifi-2025.7.14-py3-none-any.whl (162 kB)
Downloading sortedcontainers-2.4.0-py2.py3-none-any.whl (29 kB)
Downloading pycparser-2.22-py3-none-any.whl (117 kB)
Downloading tomlkit-0.13.3-py3-none-any.whl (38 kB)
Installing collected packages: sortedcontainers, asn1crypto, urllib3, tomlkit, pyjwt, pycparser, jmespath, idna, filelock, charset_normalizer, certifi, requests, cffi, botocore, s3transfer, cryptography, pyOpenSSL, boto3, snowflake-connector-python
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19/19 [snowflake-connector-python]-connector-python]
Successfully installed asn1crypto-1.5.1 boto3-1.39.8 botocore-1.39.8 certifi-2025.7.14 cffi-1.17.1 charset_normalizer-3.4.2 cryptography-45.0.5 filelock-3.18.0 idna-3.10 jmespath-1.0.1 pyOpenSSL-25.1.0 pycparser-2.22 pyjwt-2.10.1 requests-2.32.4 s3transfer-0.13.0 snowflake-connector-python-3.16.0 sortedcontainers-2.4.0 tomlkit-0.13.3 urllib3-1.26.20
Note: you may need to restart the kernel to use updated packages.

In [2]:
import snowflake.connector

In [30]:
# Conexión a Snowflake (solo necesitas usuario, contraseña y cuenta para crear recursos)
conn = snowflake.connector.connect(
    user='VIWITA4266',
    password='SupermanRafty26lego10',
    account='USPZCGH-US48484'
)
cur = conn.cursor()

In [4]:
# Crear warehouse (si no existe)
cur.execute("""
CREATE WAREHOUSE IF NOT EXISTS my_wh
  WAREHOUSE_SIZE = 'XSMALL'
  AUTO_SUSPEND = 60
  AUTO_RESUME = TRUE;
""")

In [5]:
# Crear base de datos (si no existe)
cur.execute("CREATE DATABASE IF NOT EXISTS my_db;")

In [6]:
# Crear esquema (si no existe)
cur.execute("CREATE SCHEMA IF NOT EXISTS my_db.my_schema;")

In [31]:
# Usar los recursos recién creados
cur.execute("USE WAREHOUSE my_wh;")
cur.execute("USE DATABASE my_db;")
cur.execute("USE SCHEMA my_schema;")

In [ ]:
import snowflake.connector
import pandas as pd

# Cargar el CSV limpio
df = pd.read_csv('./data/case-study-data-clean.csv')

# Conexión a Snowflake
conn = snowflake.connector.connect(
    user='TU_USUARIO',
    password='TU_CONTRASEÑA',
    account='TU_CUENTA',  # ejemplo: abcd1234.eu-west-1
    warehouse='TU_WAREHOUSE',
    database='TU_DATABASE',
    schema='TU_SCHEMA'
)

# Crear un cursor
cur = conn.cursor()

# Crear tabla (ajusta los tipos de datos según tu CSV)
create_table_query = """
CREATE OR REPLACE TABLE case_study_data (
    columna1 VARCHAR,
    columna2 INTEGER,
    columna3 DATE
    -- agrega más columnas según tu CSV
);
"""
cur.execute(create_table_query)

# Subir datos usando pandas
from snowflake.connector.pandas_tools import write_pandas

success, nchunks, nrows, _ = write_pandas(conn, df, 'case_study_data')
print(f"Subidos {nrows} registros a Snowflake.")

cur.close()
conn.close()

1. Define la estructura de la tabla según tu CSV limpio
Por tu dataset, la tabla podría ser así:

In [8]:
create_table_query = """
CREATE OR REPLACE TABLE case_study_data (
    date TIMESTAMP,
    anonymized_category VARCHAR,
    anonymized_product VARCHAR,
    anonymized_business VARCHAR,
    anonymized_location VARCHAR,
    quantity INTEGER,
    unit_price FLOAT
);
"""
cur.execute(create_table_query)

2. Carga los datos con write_pandas
Asegúrate de que tu DataFrame (df) tenga los mismos nombres de columnas (en minúsculas y con guiones bajos, como en la tabla).

In [9]:
# En una celda de Jupyter:
#!pip install pyarrow

In [21]:
cur.execute("USE WAREHOUSE my_wh;")
cur.execute("USE DATABASE my_db;")
cur.execute("USE SCHEMA my_schema;")

In [23]:
df.head()

,date,anonymized_category,anonymized_product,anonymized_business,anonymized_location,quantity,unit_price
0,"August 18, 2024, 9:32 PM",Category-106,Product-21f4,Business-de42,Location-1ba8,1,850
1,"August 18, 2024, 9:32 PM",Category-120,Product-4156,Business-de42,Location-1ba8,2,"1,910"
2,"August 18, 2024, 9:32 PM",Category-121,Product-49bd,Business-de42,Location-1ba8,1,"3,670"
3,"August 18, 2024, 9:32 PM",Category-76,Product-61dd,Business-de42,Location-1ba8,1,"2,605"
4,"August 18, 2024, 9:32 PM",Category-119,Product-66e0,Business-de42,Location-1ba8,5,"1,480"

In [24]:
cur.execute("SELECT CURRENT_WAREHOUSE(), CURRENT_DATABASE(), CURRENT_SCHEMA();")
print(cur.fetchone())

('MY_WH', 'MY_DB', 'MY_SCHEMA')

In [25]:
cur.execute("SHOW TABLES;")
for row in cur.fetchall():
    print(row)

(datetime.datetime(2025, 7, 18, 10, 19, 29, 133000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'CASE_STUDY_DATA', 'MY_DB', 'MY_SCHEMA', 'TABLE', '', '', 0, 0, 'ACCOUNTADMIN', '1', 'OFF', 'OFF', 'OFF', None, None, 'N', 'N', 'ROLE', 'N', 'N', 'N', 'N', 'N')

In [26]:
print(df.columns)

Index(['date', 'anonymized_category', 'anonymized_product',
       'anonymized_business', 'anonymized_location', 'quantity', 'unit_price'],
      dtype='object')

In [27]:
print(df.dtypes)

date                   object
anonymized_category    object
anonymized_product     object
anonymized_business    object
anonymized_location    object
quantity                int64
unit_price             object
dtype: object

In [28]:
import pandas as pd

# Convertir 'date' a datetime
df['date'] = pd.to_datetime(df['date'])

# Convertir 'unit_price' a float (elimina comas si las hay)
df['unit_price'] = df['unit_price'].astype(str).str.replace(',', '').astype(float)

# (Opcional) Asegúrate de que 'quantity' sea int
df['quantity'] = pd.to_numeric(df['quantity'], errors='coerce').astype('Int64')

# Verifica los tipos
print(df.dtypes)

/var/folders/nx/9lp38gjd74s6_19k7c_d2mq40000gn/T/ipykernel_63663/184771511.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['date'] = pd.to_datetime(df['date'])

date                   datetime64[ns]
anonymized_category            object
anonymized_product             object
anonymized_business            object
anonymized_location            object
quantity                        Int64
unit_price                    float64
dtype: object

In [35]:
# Cambia el nombre de la columna en el DataFrame
df = df.rename(columns={'date': 'fecha'})

# Crea la tabla con el nuevo nombre
create_table_query = """
CREATE OR REPLACE TABLE CASE_STUDY_DATA (
    fecha TIMESTAMP,
    anonymized_category VARCHAR,
    anonymized_product VARCHAR,
    anonymized_business VARCHAR,
    anonymized_location VARCHAR,
    quantity INTEGER,
    unit_price FLOAT
);
"""
cur.execute(create_table_query)

In [37]:
df.columns = [col.upper() for col in df.columns]
print(df.columns)

Index(['FECHA', 'ANONYMIZED_CATEGORY', 'ANONYMIZED_PRODUCT',
       'ANONYMIZED_BUSINESS', 'ANONYMIZED_LOCATION', 'QUANTITY', 'UNIT_PRICE'],
      dtype='object')

In [38]:
create_table_query = """
CREATE OR REPLACE TABLE CASE_STUDY_DATA (
    FECHA TIMESTAMP,
    ANONYMIZED_CATEGORY VARCHAR,
    ANONYMIZED_PRODUCT VARCHAR,
    ANONYMIZED_BUSINESS VARCHAR,
    ANONYMIZED_LOCATION VARCHAR,
    QUANTITY INTEGER,
    UNIT_PRICE FLOAT
);
"""
cur.execute(create_table_query)

In [39]:
from snowflake.connector.pandas_tools import write_pandas

success, nchunks, nrows, _ = write_pandas(conn, df, 'CASE_STUDY_DATA')
print(f"Subidos {nrows} registros a Snowflake.")

/var/folders/nx/9lp38gjd74s6_19k7c_d2mq40000gn/T/ipykernel_63663/1740773204.py:3: UserWarning: Pandas Dataframe has non-standard index of type <class 'pandas.core.indexes.base.Index'> which will not be written. Consider changing the index to pd.RangeIndex(start=0,...,step=1) or call reset_index() to keep index as column(s)
  success, nchunks, nrows, _ = write_pandas(conn, df, 'CASE_STUDY_DATA')

Subidos 329873 registros a Snowflake.

3. Verifica los datos en Snowflake
Puedes ejecutar en la consola web o desde Python:

In [41]:
#SELECT * FROM case_study_data LIMIT 10;